.one_cent_red {
  color: #e4a19d;
}

.two_cent_red {
  color: #e96a6a;
}

.one_cent_green {
  color: #a0bf9e;
}

.two_cent_green {
  color: #6aaa6a;
}

.no_rounding {
  color: #b9bab9;
}

.item_blue {
  color: darken(#cce7ff, 10%);
}

.transaction_lavender {
  color: darken(lavender, 10%); 
}