.waffle_container {
  display: flex;
  flex-direction: column;
  margin: 2.5% auto;
}


//waffle chart

.waffle {
  display: grid;
  font-family: 'Source Sans Pro', sans-serif;
  grid-template-columns: auto auto;
  grid-gap: 2em;
  justify-content: center;
}

.waffle_header {
  align-self: center;
  font-size: 1.25em;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 1.5em;
}

.waffle_chart {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
}

.penny {
  width: 35px;
  height: 35px;
  margin: 10px;
}

//LEGEND

.waffle_legend {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: .75em;
  // justify-content: center;
  align-items: center;
}

.waffle_subheader {
  font-size: 1em;
  grid-row: 1;
  grid-column: 1 / 4;
}

//percents

.percent {
  font-size: .75em;
  justify-self: end;
}

#percent_pick_up {
  grid-row: 2;
  grid-column: 1;
}

#percent_ground {
  grid-row: 3;
  grid-column: 1;
}

#percent_not_sure {
  grid-row: 4;
  grid-column: 1;
}

//pennies

.penny_legend {
  justify-self: center;
  width: 35px;
  height: 35px;
}

#pick_up {
  grid-row: 2;
  grid-column: 2;
}

#ground {
  filter: grayscale(100%);
  // opacity: .35;
  grid-row: 3;
  grid-column: 2

}

#not_sure {
  filter: blur(3px);
  grid-row: 4;
  grid-column: 2
}

//opinions

.opinion {
  font-size: .75em;
}

#opinion_pick_up {
  grid-row: 2;
  grid-column: 3;
}

#opinion_ground {
  grid-row: 3;
  grid-column: 3;
}

#opinion_not_sure {
  grid-row: 4;
  grid-column: 3;
}




